.home__header > .home__header__title {
  text-align: center;
}

.home__navigation__bar > .home__navigation__form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
}

.user__input {
  padding: 10px;
}

.home__navigation__form__submit__button {
  margin-top: 20px;
  padding: 8px;
  border-radius: 10%;
  box-shadow: 1px 1px 1px 1px lightgray;
}

.home__navigation__form__submit__button:hover {
  cursor: pointer;
  font-weight: bold;
}
